.day
  border 1px solid #eee
  display flex

  ul
    padding .5em

.day-date
  border-right 1px solid #ddd
  font-size .8em
  min-width 2.5em
  padding .5em
  text-align right

.day-weekend
  background #eee !important

.event-list
  flex-grow 1
  list-style none
  margin 0
  padding 0

.event
  display flex
  &:hover
    background #ddd
    cursor pointer

.event-snippet
  flex-grow 1

.event-location
  font-size .8em

.event-gravatar
  img
    vertical-align center

.event-bars
  width 20px
  margin -1px 0
  display flex
  .event-bar
    flex-basis 12%
    flex-grow 1
