.day
  border 1px solid #eee
  display flex

  ul
    padding .5em

.day-date
  border-right 1px solid #ddd
  font-size .8em
  min-width 2.5em
  padding .5em
  text-align right

.day-weekend
  background #eee !important

.day-today
  background #fbfbef
  border 1px solid #ccc
  .day-date
    border-right 1px solid #ccc
    font-weight bold

.event-list
  flex-grow 1
  list-style none
  margin 0
  padding 0

.event
  display flex
  position relative
  &:hover
    background #ddd
    cursor pointer
  &:target
    background #e77

.event-snippet
  flex-grow 1

.event-location, .event-tags
  font-size .8em
  margin .2em 0

.event-tags
  list-style none
  padding 0 !important

.event-tag
  display inline-block
  margin-right .5em
  padding .2em

.event-tag-selected
  background #ddd
  font-weight bold

.event-gravatars
  white-space nowrap

.event-gravatar
  display inline-block

  img
    display block
    vertical-align middle

.event-bars
  display flex
  margin -1px 0
  min-width 20px
  width 20px

  .event-bar
    flex-basis 25%
    flex-grow 1

// pop over

.event-pop-over
  background #eee
  border 1px solid #ccc
  box-shadow 0px 5px 5px rgba(0, 0, 0, .1)
  display none
  left calc(100% + 1em)
  min-width 15em
  padding 1em
  position absolute
  z-index 1

  .event-title
    font-size 1.2em
    font-weight bold
    margin-bottom 1em
  .event-dates, .event-location, .event-tags
    font-size 1em
    margin .5em 0

  .event-updated
    font-size .8em

.event:hover
  .event-pop-over
    display block
