.event-form
  background #ecc
  border-right 2px solid #eee

  h2
    margin-top 0

  label
    display block
    font-weight bold
    margin-bottom 1em

  input, textarea
    box-sizing border-box
    padding .5em
    width 100%

  button
    background #e77
    border 2px solid #eee
    color #fff
    cursor pointer
    font-weight bold

  button:hover
    background #e55

.event-form-open, .event-form-close
  margin-left 1em

.event-form-save
  width 100%
