.event-form
  background #ecc
  border-right 2px solid #eee
  padding 1em

  h2
    display flex
    margin-top 0
    > span
      flex-grow 1

  label
    display block
    font-weight bold
    margin-bottom 1em

  input, textarea
    box-sizing border-box
    padding .5em
    width 100%
  input[type="checkbox"]
    width auto

// buttons

.event-form-open, .event-form-close,
.event-form-save, .event-form-delete
  background #e77
  border 2px solid #eee
  border-radius 5px
  color #fff
  cursor pointer
  font-weight bold
  &:hover
    background #e55

.event-form-open, .event-form-close
  margin-left 1em

.event-form-save
  margin-top 2em
  width 100%

.event-form
  .event-form-delete
    background #999
    margin-top 3em

.event-form-clubbers
  display flex

.event-form-clubber
  text-align center
  width 25%
  span
    display block
