.filters
  margin 1em 0
  input[type=number]
    width 2.5em
    font-weight bold

  label
    display inline-block
    margin-left 1em

    img, input, span
      margin .2em
      vertical-align middle

  .clubbers-filter
    margin-right 1em

  .tags-filter
    margin-top 0

.clubber-label
    text-transform capitalize

.clubbers-filter, .display-options,
.confirmed-filter, .update-filter
  display inline-block

.tag-filter
  background #eee

  &.active
    font-weight bold

.confirmed-filter
  input
    width 5em

.clear-cache
  margin-right 1em
