.filters
  input[type=number]
    width 2.5em
    font-weight bold

  div
    margin 1em 0

  label
    display inline-block
    margin-left 1em
    text-transform capitalize

    img, input, span
      margin .2em
      vertical-align middle
