.filters
  input[type=number]
    width 2.5em
    font-weight bold

  div
    margin 1em 0

  label
    display inline-block
    margin-left 1em

    img, input, span
      margin .2em
      vertical-align middle

  .display-options
    margin-left 1em

  .tag-filters
    margin-top 0

.clubber-label
    text-transform capitalize

.clubber-filters, .display-options
  display inline-block

.tag-filter
  background #eee
