// elements

html, body
  background #fff
  color #333
  font-family sans-serif
  font-size 12px
  height 100%
  margin 0
  padding 0

h1
  margin 0
  font-weight normal

main
  padding 1em

fieldset
  border 1px solid #eee

legend
  font-weight bold

#root
  height 100%

.main-header
  display flex

.header-left
  display flex

.header-right
  flex-grow 1
  text-align right

.main-loader
  align-items center
  background rgba(0, 0, 0, .4)
  bottom 0
  display flex
  justify-content center
  left 0
  position absolute
  right 0
  top 0
  z-index 1337

.main-loader-message
  color #fff
  h1
    margin 1em

  > div
    margin auto
    width 30%
