// elements

html, body
  background #fff
  color #333
  font-family sans-serif
  font-size 12px
  height 100%
  margin 0
  padding 0

h1
  font-weight normal

main, form
  padding 1em

#root
  height 100%
