.main-header
  align-items center
  display flex

.header-left, .header-center
  display flex

.header-left
  margin-right 2em

.header-right
  flex-grow 1
  text-align right

.connection-status
  margin-right 1em

.connection-status-offline
  color #e77
  font-weight bold
