.month-list
  display flex

.month-list-previous,
.month-list-next
  background #eee
  border 1px solid #ccc
  cursor pointer
  width 2em

.month-list-previous:hover,
.month-list-next:hover
  background #ddd
