.month
  flex-basis 12%
  flex-grow 1
  margin 0 .5em
  // room for popover on last day
  margin-bottom 12em

.month-title
  font-weight bold
  padding .5em
  text-align  center
  text-transform capitalize
