{
  "extends": [
    "eslint:recommended",
    "plugin:lodash-fp/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "lodash-fp"
  ],
  "globals": {
    "gapi": true,
    "__DEV__": true
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "indent": [2, 2],
    "no-case-declarations": 0,
    "quotes": [1, "single", "avoid-escape"],
    "semi": [1, "never"],
    "space-before-function-paren": [1, "always"],
    "react/jsx-curly-spacing": [1, "never"],
    "react/jsx-max-props-per-line": [1, { "maximum": 4 }],
    "react/jsx-no-duplicate-props": 1,
    "react/jsx-no-undef": 2,
    "react/jsx-sort-props": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 2,
    "react/sort-prop-types": 1,
  }
}
